
<form id="login" class="mvpm-form" >
    <!-- <h1>Site Login</h1> -->
    <p class="status">{{dataMessage}}</p>
    <p><label for="username">Username</label></p>
    <p><input id="username" type="text" name="username" ng-model="</formData.username"></p>
    <p><label for="password">Password</label></p>
    <p><input id="password" type="password" name="password" ng-model="formData.password"></p>
    <input class="submit_button" class="btn btn-primary btn-md" type="submit"  ng-click="formLogin()" name="submit">
    <hr>
    <a class="lost" href="{{window.mvpmUserPasswordreseturl}}">Lost your password?</a>

    <a class="lost" href="{{window.mvpmUserPasswordreseturl}}">Sign up</a>
</form>