<form id="login">
    <!-- <h1>Site Login</h1>
    <p class="status"></p>
    {{foo}}
    <label for="username">Username</label>
    <input id="username" type="text" name="username">
    <label for="password">Password</label>
    <input id="password" type="password" name="password">
    <a class="lost" href="{{}}">Lost your password?</a>
     --><!-- <a class="close" href="">(close)</a> -->
    <!-- <?php //wp_nonce_field( 'ajax-login-nonce', 'security' ); ?> -->
    <input class="submit_button" type="submit"  ng-click="loginForm('d')" name="submit">
</form>