<div class="tzu-build">
	<a href="" class="nav-link action {{actionStatus}}" href="#" ng-click="openModal(reportid)">Login</button>


	<div class="tzu-modal-background {{actionStatus}}" ng-show="actionStatus == 'loading'">
		<section class="tzu-modal {{modalStatus}}">
		<div class="tzu-modal-content" role="main">
				<user-login></user-login>
				<hr>			
				<a href="" class="button small warning" ng-click="closeModal()">close</button>
			</div>
			<!-- <footer class="tzu-modal-footer"> -->
			<!-- </footer> -->
		</section>
	</div>
</div>